.homediv{
    display: flex;
}
.firstdiv{
    width: 50%;
    margin:0 3rem;
}
.seconddiv{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    font-size: 8rem;
    line-height: 1;
    
}
.gymplan{
    --tw-text-opacity: 1;
    color: rgb(3 105 161/var(--tw-text-opacity));
    letter-spacing: -.025em;
}
.getstarted{
    max-width: 30%;
}

.font-bold {
    font-weight: 700;
}
.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}
.text-transparent {
    color: transparent;
}

.tracking-tight {
    letter-spacing: -.025em;
}
.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}
.to-purple-600 {
    --tw-gradient-to: #9333ea;
}
.via-blue-500 {
   
    --tw-gradient-stops: var(--tw-gradient-from),#3b82f6,var(--tw-gradient-to);
}
.from-green-400 {
    --tw-gradient-from: #4ade80;
}
.bg-gradient-to-r {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.bg-clip-text {
    --webkit-background-clip: text;
    
}
.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105/var(--tw-text-opacity));
}
.pt-2 {
    padding-top: 0.5rem;
}
.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-150 {
    transition-duration: .15s;
}
.transition {
   
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.font-bold {
    font-weight: 700;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.to-indigo-600 {
    --tw-gradient-to: #4f46e5;
}
.via-purple-600 {

    --tw-gradient-stops: var(--tw-gradient-from),#9333ea,var(--tw-gradient-to);
}
.from-purple-600 {
    --tw-gradient-from: #9333ea;
   
}
.bg-gradient-to-r {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
}
.border-0 {
    border-width: 0;
}
.rounded-md {
    border-radius: 0.375rem;
}
.mt-5 {
    margin-top: 1.25rem;
}



@media (min-width: 768px){
.md\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}
.md\:text-left {
    text-align: left;
}
.font-bold {
    font-weight: 700;
}}

.mb-5 {
    margin-bottom: 1.25rem;
}
.underline {
    text-decoration-line: underline;
}
.text-sky-700 {
    --tw-text-opacity: 1;
    color: rgb(3 105 161/var(--tw-text-opacity));
}
.tracking-tight {
    letter-spacing: -.025em;
}
.homemacro{
   color: #10b981;
}

